[submodule "themes/exformal"]
	path = themes/exformal
	url = git@github.com:madskjeldgaard/exformal-hugo-theme.git
[submodule "themes/hugo-audio"]
	path = themes/hugo-audio
	url = git@github.com:madskjeldgaard/hugo-audio.git
[submodule "themes/hugo-flickity-carousel"]
	path = themes/hugo-flickity-carousel
	url = git@github.com:madskjeldgaard/hugo-flickity-carousel.git
[submodule "public"]
	path = public
	url = git@github.com:madskjeldgaard/exformal-website-public.git
[submodule "themes/hugo-video"]
	path = themes/hugo-video
	url = git@github.com:madskjeldgaard/hugo-video.git
