<form method="post" action="https://roaring-falcon.pikapod.net/subscription/form" class="listmonk-form">
          <div>
          <input type="hidden" name="nonce" />
          <p><input type="email" name="email" required placeholder="E-mail" /></p>
          <p><input type="text" name="name" placeholder="Name (optional)" /></p>

        <p>
          <input id="5bf0d" type="checkbox" name="l" checked value="5bf0d0b7-a305-4e0b-adc0-a91c9140b092" />
          <label for="5bf0d">Exformal Records Newsletter</label><br />

    </p>

        <p><input type="submit" value="Subscribe" /></p>
    </div>
</form>
